@import url("https://api.fontshare.com/v2/css?f[]=satoshi@1,900,700,500,301,701,300,501,401,901,400,2&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("../styles/theme.css");
@import url("../styles/typography.css");

@layer base {
  :root {
    --font-satoshi: "Satoshi", ui-sans-serif, system-ui, -apple-system,
      "Segoe UI", sans-serif;
  }
}

@layer utilities {
  .max-container {
    @apply mx-auto max-w-[1600px]; /* 1600px | 1440px */
  }

  .flexCenter {
    @apply flex items-center justify-center;
  }

  .flexBetween {
    @apply flex items-center justify-between;
  }

  .flexStart {
    @apply flex items-center justify-start;
  }

  .card-wrapper {
    @apply bg-light-820 dark:bg-dark-300 shadow-light-100 dark:shadow-none;
  }

  .no-focus {
    @apply focus-visible:ring-0 focus-visible:ring-transparent focus-visible:ring-offset-0 !important;
  }

  .main-scrollbar::-webkit-scrollbar-track {
    @apply bg-[hsl(0,0%,80%)] dark:bg-[#424242];
  }

  .main-scrollbar::-webkit-scrollbar-thumb {
    @apply bg-[#888] dark:bg-[#686868];
  }

  .main-scrollbar::-webkit-scrollbar-thumb:hover {
    @apply bg-[#686868] dark:bg-[hsl(0,0%,51%)];
  }

  .primary-gradient {
    background: linear-gradient(129deg, #ff7000 0%, #e2995f 100%) !important;
  }

  .dark-gradient {
    background: linear-gradient(
      232deg,
      rgba(23, 28, 35, 0.41) 0%,
      rgba(19, 22, 28, 0.7) 100%
    );
  }
}

.custom-scrollbar::-webkit-scrollbar {
  width: 3px;
  height: 3px;
  border-radius: 2px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #ffffff;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 50px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.main-scrollbar::-webkit-scrollbar {
  width: 10px;
  height: 3px;
}

/* remove clerk watermark */
.cl-internal-10b0tw4 {
  display: none;
}

/* remove border and boxshadow in clerk sign-in */
@media (max-width: 640px) {
  .cl-internal-17ydaof {
    border: none;
    border-radius: 0;
    box-shadow: none;
  }
}
