@import url("https://api.fontshare.com/v2/css?f[]=satoshi@1,900,700,500,301,701,300,501,401,901,400,2&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("../styles/theme.css");
@import url("../styles/typography.css");

@layer base {
  :root {
    --font-satoshi: "Satoshi", ui-sans-serif, system-ui, -apple-system,
      "Segoe UI", sans-serif;
  }
}

/* remove clerk watermark */
.cl-internal-10b0tw4 {
  display: none;
}

/* remove border and boxshadow in clerk sign-in */
@media (max-width: 640px) {
  .cl-internal-17ydaof {
    border: none;
    border-radius: 0;
    box-shadow: none;
  }
}
